.navbar {
    background-color: #300030;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-bars{
    margin-left: 2rem;
    font-size: 2rem;
    background-color: none;
}

.head-text{
    color: #F07241;
    display: flex;
    margin: auto;
    text-transform: capitalize;
    font-size: 3rem;

}

.nav-menu {
    background-color: #300030;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active {
    left: 0;
    transition: 350px;
}

.side-text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.side-text a {
    text-decoration: none;
    /* color: #C04848; */
    color: #F07241;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;

}

.side-text a:hover{
    background-color: #601848;
}

.nav-menu-items{
    width: 100%;
}

.nav-toggle {
    background-color: #300030;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;


}

span{
    margin-left: 16px;
}